librosa
numpy
opencv-contrib-python
opencv-python
torch
torchvision
tqdm
numba
basicsr
facexlib
lmdb
pyyaml
scipy
tb-nightly
yapf
imageio[ffmpeg]
batch-face
gdown
openai
diffusers
pathos
transformers
accelerate
mutagen
humanize
torchaudio
progressbar
p_tqdm
git+https://github.com/sberbank-ai/Real-ESRGAN.git
einops
rotary_embedding_torch
inflect
unidecode